
:root {
    --color-main: #f26f24;
}

* {
    font-family: 'Rowdies', cursive;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    color: #FFF;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    color: #FFF;
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

.owl-theme .owl-nav{
    margin: 0;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.5;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}




#main{
    position: relative;
}

#main .bg-homepage{
    position: relative;
    width: 100%;
    height: 100vh;
}
#main .logo{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}
#main .box-content{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}
#main .box-content .btn{
    /* margin-bottom: 35px; */
    display: block;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
#main .box-content .btn img{
    width: max-content;
}
#main .box-content .login-social-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
#main .box-content .login-social-box li{
    margin: 0 14px 0;
}

.bg-gray{
    background-color: #bbb;
}
/* box-danh-hieu */
.container-fuild{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 45px;
    padding-bottom: 45px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
.box-danh-hieu{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
.box-danh-hieu.auto-height{
    height: 100%;
    min-height: 100vh;
}
.box-danh-hieu .row{
    justify-content: center;
}
.box-danh-hieu .row .item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-danh-hieu .row [class*="col-"]:last-child .item{
    margin-top: -70px;
}
.box-danh-hieu .row .item img{
    transform: scale(.9);
}

.list-hastag{}
.list-hastag .row [class*="col-"]{
    height: auto;
}
.list-hastag:not(.hastag-two) .row [class*="col-"]:nth-child(odd) .item{
    margin-top: -30px;
}


/* box-tra-loi-dung */
.box-tra-loi-dung{
    background-color: #b495d4;
    display: flex;
    height: 100%;
    min-height: 100vh;
    position: relative;
}
.box-tra-loi-dung .layout-logo{
    width: 16.1%;
    min-width: 16.1%;
    background-color: #7446a8;
}
.box-tra-loi-dung .layout-logo .item-logo{
    padding: 20px 40px 0;
    width: 100%;
    text-align: center;
}
.box-tra-loi-dung .layout-content{
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 148px;
    justify-content: space-between;
}
.box-tra-loi-dung .title-page{
    text-align: center;
    padding-top: 35px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
/* .box-tra-loi-dung .layout-content img{
    transform: scale(.85);
} */
.box-tra-loi-dung .layout-content .item-img-1{
    display: flex;
    align-items: center;
    padding-left: 50px;
    min-width: max-content;
}
.box-tra-loi-dung .layout-content .item-img-2{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
.box-tra-loi-dung .layout-content .item-img-2 .icon-coc{
    margin-right: 13%;
    margin-bottom: -14%;
    position: relative;
}
.box-tra-loi-dung .layout-content .item-img-2 .icon-coc img{
    min-width: max-content;
    /* transform: scale(.85); */
}
.box-tra-loi-dung .layout-content .item-img-2 .icon-coc .texr-reply{
    
    position: absolute;
    font-size: 34px;
    top: 50px;
    left: -30%;
    max-width: 250px;
    
}
.box-tra-loi-dung .layout-content .item-img-2 .icon-coc.tl-dung .texr-reply{
    top: 35px;
    left: -62%;
    max-width: 300px;
}
.box-tra-loi-dung .layout-content .item-img-2 .img-analist{
   display: flex;
   justify-content: flex-end;
   width: 100%;
}

/* layout-nhan-vat */
.layout-nhan-vat{}
.layout-nhan-vat .row .item img{
    transform: unset;
}

.layout-nhan-vat .row .item{
    height: unset;
}
.result-main{
    background-color: #b89bd7;
}
.result-main .header{
    background-color: #7d41bd;
    text-align: center;
    padding: 53px 0;
}
.result-main .div-body{
    padding-top: 0;
    padding-bottom: 0;
    padding-left:15px;
    padding-right: 15px;
    min-height: calc(100vh - 222px);
}
.result-main .div-body .box-image-left{
    margin-top: -50px;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}

.result-main .div-body .box-image-left::before{
    content: "";
    width: 100%;
    max-width: 360px;
    height: 6px;
    border-radius: 2px;
    background-color: #7d41bd;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.result-main .div-body .box-number-result{
    width: 100%;
    max-width: 700px;
    margin: 40px auto 10px;
}
.result-main .div-body .box-number-result .item{
    display: flex;
    align-items: center;
    margin: 15px 0
}
.result-main .div-body .box-number-result .item .box-image{
    min-width: max-content;
    margin-right: 5px;
}
.result-main .div-body .box-number-result .item .content{
    display: flex;
    align-items: center;
    width: 100%;
}
.result-main .div-body .box-number-result .item .content .text-fixed{
    min-width: max-content;
    font-size: 28px;
    color: #FFF;
    display: block;
    font-weight: 300;
}
.result-main .div-body .box-number-result .item .content .input-text{
    width: 100%;
    max-width: 500px;
    border-bottom: 1px dashed #FFF;
    line-height: 1;
    /* display: flex; */
    text-align: center;
}
.result-main .div-body .box-number-result .item .content .input-text span{
    font-size: 28px;
    font-weight: 300;
    color: #FFF;
    padding: 0 5px;
    line-height: 1;
}
.result-main .div-body .box-number-result{}
.result-main .div-body .image-danh-hieu{
    padding-top: 45px;
    text-align: center;
}
.result-main .div-body .image-danh-hieu .text-phong-cap{
    display: block;
    margin: 45px auto 0;
}
.result-main .div-body .box-btn-tong-ket{
    margin: 45px 65px 30px auto;
    text-align: right;
}

.box-kho-cau-hoi{
    background-image: url(../images/nen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-bottom: 100px!important;
    position: relative;
}
.box-kho-cau-hoi .box-list-aks{
    padding-top: 40px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}
.box-kho-cau-hoi .box-list-aks .item{
    cursor: pointer;
    position: relative;
}
.box-kho-cau-hoi .box-list-aks .item:nth-child(1){
    transform: rotate(325deg) translate(90px, 230px);
    z-index: 1;
}
.box-kho-cau-hoi .box-list-aks .item:nth-child(2){
    transform: rotate(342deg) translate(85px, 50px);
    z-index: 2;
}
.box-kho-cau-hoi .box-list-aks .item:nth-child(3){
    
    z-index: 3;
}
.box-kho-cau-hoi .box-list-aks .item:nth-child(4){
    transform: rotate(18deg) translate(-85px, 25px);
    z-index: 2;
}
.box-kho-cau-hoi .box-list-aks .item:nth-child(5){
    transform: rotate(35deg) translate(-90px, 230px);
    z-index: 1;
}
.box-kho-cau-hoi .box-cau-hoi{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px;
    background-color: #FFF;
    border-top: 25px solid #FFF;
    border-left: 20px solid #FFF;
    border-right: 20px solid #FFF;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    padding: 40px 5%;
    z-index: 11;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s;
    overflow: hidden;
    width: 0;
    height: 0;
    min-height: 0;
    opacity: 0;
    visibility: hidden;
}
.box-kho-cau-hoi .box-cau-hoi.active{
    width: 100%;
    opacity: 1;
    min-height: calc(100vh - 300px);
    visibility: visible;
    height: auto;
    transition: all .3s;
    z-index: 4;
}
.box-kho-cau-hoi .box-cau-hoi .content{
    color: #fff;
    font-size: 26px;
}
.box-kho-cau-hoi .box-cau-hoi .btn{
    margin-top: 30px;
    margin-bottom: 10px;
}
.box-kho-cau-hoi .box-cau-hoi::-webkit-scrollbar {
    width: 0;
    transition: all .3s;
  }
.box-kho-cau-hoi .box-cau-hoi.ask-bg-1{
    background-color: #af7af7;
}
.box-kho-cau-hoi .box-cau-hoi.ask-bg-2{
    background-color: #ff6888;
}
.box-kho-cau-hoi .box-cau-hoi.ask-bg-3{
    background-color: #68b6ff;
}
.box-kho-cau-hoi .box-cau-hoi.ask-bg-4{
    background-color: #68ff81;
}
.box-kho-cau-hoi .box-cau-hoi.ask-bg-5{
    background-color: #cdb471;
}
body.overlay{
    overflow: hidden;
}
body.overlay::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.choose-ask-main{
    background-image: url(../images/bg-choose-ask.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.choose-ask-main .layout-item{
    max-width: 1392px;
    margin: 0 auto;
    border-top: 25px solid #FFF;
    border-left: 20px solid #FFF;
    border-right: 20px solid #FFF;
    border-top-left-radius: 135px;
    border-top-right-radius: 135px;
    padding: 60px 10%;
    position: fixed;
    bottom: 0;top: 50px;
    width: 100%;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}
.choose-ask-main .layout-item.ask-bg-1{
    background-color: #af7af7;
}
.choose-ask-main .layout-item.ask-bg-2{
    background-color: #ff6888;
}
.choose-ask-main .layout-item.ask-bg-3{
    background-color: #68b6ff;
}
.choose-ask-main .layout-item.ask-bg-4{
    background-color: #68ff81;
}
.choose-ask-main .layout-item.ask-bg-5{
    background-color: #cdb471;
}
.choose-ask-main .layout-item .list{
    overflow-y: scroll;
    height: 100%;
    padding-right: 5px;
}
.choose-ask-main .layout-item .list::-webkit-scrollbar {
  width: 0;
  transition: all .3s;
}
.choose-ask-main .layout-item:hover .list::-webkit-scrollbar {
  /* width: 5px; */
  transition: all .3s;
}

.choose-ask-main .layout-item .list::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 3px;
}
.choose-ask-main .layout-item .list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
.choose-ask-main .layout-item .list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.choose-ask-main .layout-item .item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 50px;
    background-color: #FFF;
    border: none;
    margin-bottom: 25px;
    min-height: 125px;
    border-radius: 100px;
    color: #000;
    transition: all .3s;
}
.choose-ask-main .layout-item .item:hover{
    background-color: #fbd056;
    transition: all .3s;
}

.box-tra-loi-dung .layout-content.content-hoi-tn{
    padding-top: 60px;
}
.box-tra-loi-dung .layout-content.content-hoi-tn .item-img-2 .icon-coc {
    margin-right: 7%;
    margin-bottom: 0;
}

.box-tra-loi-dung .layout-content.content-hoi-tn .item-img-2 .icon-coc.tl-dung .texr-reply {
    top: 35px;
    left: auto;
    max-width: 300px;
    right: 100%;
    min-width: 200px;
    text-align: right;
    color: #000;
}
.box-tra-loi-dung .layout-content.content-hoi-tn .item-img-1 {
    display: flex;
    align-items: center;
    padding-left: 0;
    min-width: max-content;
    margin-left: -13%;
}
.box-tra-loi-dung .layout-content.content-hoi-tn .item-img-1 img{
    max-width: 440px;
}

.box-tra-loi-dung .layout-content .item-img-2.layout-trang-hoi{
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
}
.box-tra-loi-dung .layout-content .item-img-2.layout-trang-hoi .item-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 0 0 35%;
    max-width: 35%;
}
.box-tra-loi-dung .layout-content .layout-trang-hoi .item-dap-an{
    max-width: 65%;
    flex: 0 0 65%;
}
.box-tra-loi-dung .layout-content .layout-trang-hoi .item-dap-an .box-text-title{
    border-bottom: 1px dashed #FFF;
}
.box-tra-loi-dung .layout-content .layout-trang-hoi .item-dap-an .box-text-title .text{
    color: #000;
    font-size: 30px;
}
.box-tra-loi-dung .layout-content .layout-trang-hoi .item-dap-an .list-dap-an{
    margin-top: 30px;
    
}
.box-tra-loi-dung .layout-content .layout-trang-hoi .item-dap-an .item-dap-an-child{}
.box-tra-loi-dung .layout-content .layout-trang-hoi .item-dap-an .item-dap-an-child label{
 border: 2px solid #FFF; 
 width: 100%;  
 padding: 10px;
 min-height: 180px;
}
.box-tra-loi-dung .layout-content .layout-trang-hoi .item-dap-an .item-dap-an-child input{display: none;}
.box-tra-loi-dung .layout-content .item-img-2.layout-trang-hoi .icon-coc img{
    min-width: auto;
}














